html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

@media print {
  * {
    font-size: 16px;
  }
}
